.notes-container {
    display: flex;
    flex-wrap: wrap;
}

.note{
    display: grid;
    text-align: center;
    justify-content: center;
    width: 250px;
    height: auto;
    margin: 10px; 
    border-radius: 5%;
    overflow: hidden;
    white-space:wrap;
    padding: 1em;
    
}

.title{
    color: black;
}

.note-img{
    display: block;
    max-width: 200px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.note-button{
    background-color:lightslategray;
    border-color:whitesmoke;
    border-radius: 80%;
    height: 10px;
    width: fit-content;
    
}

.note-buttons{
    display:flex;
    justify-content: inherit;
    margin: 10px;
}   

.note p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

